*{
  text-decoration: none;
  
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  width:400px;
  height:300px;
  box-shadow: rgba(0,0,0,0.1)0px 4px 12px;

}
.header{
  display: flex;
  gap:50px;
}
.team1Container{
display:flex;
gap: 50px;
}
.team1{
  display: flex;
  gap:5px;

}

.team2Container{
  display:flex;
  gap: 50px;
}
.team2{
  display:flex;
}


.Card{
  display:flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
}

.NavBar{
  background-color: forestgreen;
  display: flex;
  gap: 50px;
  justify-content: center;
  height: 50px;
  align-items: center;
  
}
.NavBar Link{
  color: aliceblue;
  background-color: black;
}
#link{
  color:whitesmoke;
  font-weight: 500;
}

